
.green {
    color: #0a660a;
}
.yellow {
    color: #e0b32c;
}
.brown {
    color: #d46d23
}
.light-blue {
    color: #46c0e6;
}
.blue {
    color: #1418d6;
}
.red {
    color: #ee392b;
}
.orange {
    color: #dd6b33;
}
.light-green {
    color: #98d54f;
}
.black {
    color: #000000;
}
.gray {
    color: #9e9e9e;
}
.parpel {
    color: #851a97;
}
.pink {
    color: #ec6e99;
}
.deep-red {
    color: #740519;
}
.green-yellow {
    color: #c5c774;
}